html
  head
    link(rel='stylesheet', href='styles.css')
    title Hello LaunchDarkly OAuth
  body
    div(class='container')
      h1= message
      if !loggedIn
        h3
          a(href="/auth") Authorize this app
      else
        div
          h3 This token expires #{expiresIn}. #[a(href="/refresh") Refresh it now]
        div
          p 
            | You can test LaunchDarkly GET requests using this app by navigating to 
            | #[code /get/some-endpoint]. 
          p For example: 
          ul
            li #[a(href="/get/projects/default") /get/projects/default]
            li #[a(href="get/projects/default/environments/production") /get/projects/default/environments/production]
            li #[a(href="/get/flags/default") /get/flags/default]
        div
          p To test with curl use:
            pre= `curl -X GET ${apiUrl}/projects -H 'Authorization: Bearer ${token}'`
        div
          a(href="/logout") log out